<mat-list>
	<mat-list-item *ngFor="let registration of registrations | orderBy:'student.lastname'" style="margin-top: 10px;">
		<mat-icon matListIcon>account_circle</mat-icon>
		<p matLine>{{registration.student.lastname}} {{registration.student.firstname}}</p>
		<p matLine>Grade: 
			<input #gradeInput [hidden]="registration.grade" style="width=50px" name=gradeInput type=number/>
			<span *ngIf="registration.grade">{{registration.grade}}</span>
		 	/30
		 </p>
		 
		 <p style="padding: 10px; margin-top: 5px" matLine>
		 	<button *ngIf="!registration.grade" mat-raised-button style="margin-right:30px;" (click)="submitGrade(registration, gradeInput.value)">Submit Grade</button>
		 	
	 	</p>
	 	
	 	<mat-expansion-panel matLine style="margin: 10px;">
		 	<mat-expansion-panel-header>
				<mat-panel-title>
					Send e-mail
				</mat-panel-title>
			</mat-expansion-panel-header>
			<mat-form-field class="full-width">
				<textarea #bodyemail matInput placeholder="Write e-mail body"></textarea>
			</mat-form-field>
			<br>
			<br>
			<button mat-raised-button (click)="sendEmail(bodyemail.value, registration.student.email)">Send e-mail</button>
	 	</mat-expansion-panel>
	 	
		<mat-divider matLine></mat-divider>
	</mat-list-item>
</mat-list>
