<mat-expansion-panel style="margin: 10px; margin-top: 50px;">
	<mat-expansion-panel-header>
		<mat-panel-title>
			Abstract
		</mat-panel-title>
	</mat-expansion-panel-header>

	<p>{{course.abstract}}</p>
</mat-expansion-panel>
<mat-expansion-panel style="margin: 10px; margin-top: 50px;">
	<mat-expansion-panel-header>
		<mat-panel-title>
			Schedule
		</mat-panel-title>
	</mat-expansion-panel-header>

	<app-schedule-list [canRemove]="currentUser.role != 'student'" [schedules]="course.schedules" (removingSchedule)="removeSchedule($event)"></app-schedule-list>
	<div *ngIf="currentUser.role != 'student'">
	<h5 style="margin-top: 20px;" class="grey"> Add a schedule:</h5>
	<div class="add-schedule">
		<mat-form-field>
    		<input matInput value="newSchedule.day"  placeholder="Insert day" type="text" name="scheduleday" [(ngModel)]="newSchedule.day" #scheduleday="ngModel"/>
		</mat-form-field>
		<mat-form-field>
    		<input matInput value="newSchedule.beginTime"  placeholder="Insert begin time" type="text" name="schedulebegintime" [(ngModel)]="newSchedule.beginTime" #schedulebegintime="ngModel" />
		</mat-form-field>
		<mat-form-field>
    		<input matInput value="newSchedule.endTime"  placeholder="Insert end time" type="text" name="scheduleendtime" [(ngModel)]="newSchedule.endTime" #scheduleendtime="ngModel" />
		</mat-form-field>
		<mat-form-field>
    		<input matInput value="newSchedule.Location"  placeholder="Insert location" type="text" name="schedulelocation" [(ngModel)]="newSchedule.location" #schedulelocation="ngModel" />
		</mat-form-field>
		<br>
	</div>
	<button mat-raised-button type="button" (click)="addSchedule()" 
	[disabled]="(!newSchedule.day || newSchedule.day == '') || (!newSchedule.beginTime || newSchedule.beginTime == '')
	|| (!newSchedule.endTime || newSchedule.endTime == '') || (!newSchedule.location || newSchedule.location == '')"
	>Add schedule</button>
	</div>
</mat-expansion-panel>
<br>
<div class="communications-container">
	<h5 class="grey">Communications</h5>
	<br>
	<mat-expansion-panel *ngIf="currentUser.role != 'student'">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Add a communication
			</mat-panel-title>
		</mat-expansion-panel-header>
		
		<form name="form" (ngSubmit)="f.form.valid && addMaterial()" #f="ngForm" novalidate>
			<div class="form-group center-block" [ngClass]="{ 'has-error': f.submitted && !communicationtext.valid }">
				<div *ngIf="error" class="alert alert-danger">Something is went wrong, try again!</div>
				<mat-form-field class="full-width" >
			    	<input matInput value="newMaterial.text" placeholder="Insert communication" type="text" name="communicationtext" [(ngModel)]="newMaterial.text" #communicationtext="ngModel" required />
				</mat-form-field>
				<mat-error *ngIf="f.submitted && !communicationtext.valid">
					The text is required!
				</mat-error>
				<input #inputVariable type="file" (change)="inputFile($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
			</div>
			
			
			<div class="form-group" style="margin-top: 50px;">
				<button mat-raised-button color="primary" [disabled]="loading">Add</button>
				<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			</div>
		</form>
	</mat-expansion-panel>
	<br>
	<mat-list>
		<mat-list-item *ngFor="let material of course.materials">
			<mat-divider></mat-divider>
			<h5 matLine class="grey" style="margin-bottom: 10px;">{{material.date | date:'medium'}}</h5>
			<p matLine>{{material.text}}</p>
			<a matLine *ngIf="material.link" href="javascript:void(0)">{{material.link}}</a>
			<mat-icon *ngIf="currentUser.role != 'student'" class="grey" style="cursor: pointer" (click)="removeMaterial(material)">clear</mat-icon>
		</mat-list-item>
	</mat-list>
</div>
