<mat-nav-list>
    <mat-list-item [routerLink]="['/add-member', phd.id, cycle.id, 'student', student.id]" *ngFor="let student of students">
	    <mat-icon matListIcon>account_box</mat-icon>
	    <a matLine> {{student.firstname}} {{student.lastname}} </a>
	    <p class="grey" matLine> Advisor: {{student.faculty.firstname}} {{student.faculty.lastname}}</p>
	    <p class="grey" matLine> {{student.webpage}} </p>
		
	    <app-edit-remove [model]="student" [edit_link]="['/add-member', phd.id, cycle.id, 'student', student.id]" (cancelModel)="removeStudent($event, student.id)"></app-edit-remove>
   	
    </mat-list-item>
</mat-nav-list>
