<mat-list *ngFor="let student of students">
	<h5 class="grey">{{student.firstname}} {{student.lastname}}</h5>
	<h6 class="grey">Reports:</h6>
	<mat-list-item *ngFor="let report of student.reports">
		<mat-icon matListIcon *ngIf="report.approvedByAdvisor">check_circle_outline</mat-icon>
		<mat-icon matListIcon *ngIf="!report.approvedByAdvisor">remove_circle_outline</mat-icon>
		<h5 matLine class="grey">{{report.year}}</h5>
		<a matLine href="javascript:void(0)">{{report.relation}}</a>
		<p matLine>Proposed CFU: {{report.proposedCfu}}</p>
		<div *ngIf="!report.approvedByAdvisor" style="margin-top: 10px; padding: 5px" matLine>
			<button mat-raised-button [routerLink]="['/add-report', report.id]">Modify report</button>
		</div>
		<button mat-raised-button *ngIf="!report.approvedByAdvisor" (click)="approveReport(report)">Approve</button>
	</mat-list-item>
	<h6 class="grey">Events:</h6>
	<mat-list-item *ngFor="let event of student.events" >
		<mat-icon matListIcon *ngIf="event.approvedByAdvisor">check_circle_outline</mat-icon>
		<mat-icon matListIcon *ngIf="!event.approvedByAdvisor">remove_circle_outline</mat-icon>
		<h5 matLine class="grey">{{event.date | date: 'medium'}}</h5>
		<p matLine>{{event.description}}</p>
		<a matLine href="event.link">{{event.link}}</a>
		<p matLine>Proposed CFU: {{event.proposedCfu}}</p>
		<button mat-raised-button *ngIf="!event.approvedByAdvisor" (click)="approveEvent(event)">Approve</button>
	</mat-list-item>
</mat-list>
