<div class="grey">
	<h2><app-back></app-back> {{phd.name}}</h2>
</div>

<mat-tab-group (selectedTabChange) = "ngOnInit(); tabService.saveIndex(tab.selectedIndex, 'phd')" [selectedIndex]="tabService.getIndex('phd')" #tab style="margin-top: 10px;" mat-stretch-tabs>
  <mat-tab label="Members">
  	<div class="grey" style="text-align: right">
		<a mat-button [routerLink]="['/add-cycle', phd.id, -1]">
			<mat-icon> add</mat-icon>
			<span>Add Cycle</span>
		</a>
	</div>
    <app-cycle-list [phd]="phd" [cycles]="cycles" (removingCycle)="ngOnInit()"></app-cycle-list>
  </mat-tab>
  <mat-tab label="Courses">
  	<div class="grey" style="text-align: right">
		<a mat-button [routerLink]="['/add-course', phd.id, -1]">
			<mat-icon> add</mat-icon>
			<span>Add Course</span>
		</a>
	</div>
    <app-course-list [phd]="phd" [courses]="courses" (removingCourse)="ngOnInit()" (courseClick)="goToCourse($event)"></app-course-list>
  </mat-tab>
</mat-tab-group>