<mat-nav-list class="student-registration-list">
	<mat-list-item [routerLink]="['/course', registration.course.id]" *ngFor="let registration of registrations">
		<mat-icon matListIcon>book</mat-icon>
		<p matLine>{{registration.course.title}}</p>
		<mat-icon *ngIf="registration.grade && registration.grade > 0">check</mat-icon>
		<app-edit-remove *ngIf="!registration.grade || registration.grade === 0" [model]="registration" (cancelModel)="removeRegistration($event, registration)"></app-edit-remove>
	</mat-list-item>
</mat-nav-list>
