<div class="grey back-container">
	<app-back></app-back><span>Back</span>
</div>
<form name="form" (ngSubmit)="f.form.valid && addMember()" #f="ngForm" novalidate>
    <div class="form-group center-block" 
		[ngClass]="{ 'has-error': f.submitted && !memberfname.valid && !memberlname.valid && !memberweb.valid && !membermail.valid && !memberusername.valid && !memberpassword.valid}"
	>
		<mat-radio-group class="grey small" [(ngModel)]="memberClass" [disabled] = "update" name="radio" (change)="createMember()">
		  <mat-radio-button class="radio" value="student" name="radioStudent">Student</mat-radio-button>
		  <mat-radio-button class="radio" value="faculty" name="radioFaculty">Faculty</mat-radio-button>
		  <mat-radio-button class="radio" value="scholar" name="radioScholar">Scholar</mat-radio-button>
		</mat-radio-group>
	
	<!-- <h4 class ="grey">PhD {{phd.name}}</h4> -->
		<div *ngIf="error" class="alert alert-danger">Something is went wrong, try again!</div>
		<mat-form-field class="full-width" >
	    	<input matInput value="newMember.firstname" placeholder="Insert first name" type="text" name="memberfname" [(ngModel)]="newMember.firstname" #memberfname="ngModel" required />
		</mat-form-field>
		<mat-error *ngIf="f.submitted && !memberfname.valid">
			The first name is required!
		</mat-error>
		
		<mat-form-field class="full-width" >
	    	<input matInput value="newMember.lastname"  placeholder="Insert last name" type="text" name="memberlname" [(ngModel)]="newMember.lastname" #memberusername="ngModel" required />
		</mat-form-field>
		<mat-error *ngIf="f.submitted && !memberlname.valid">
			The last name is required!
		</mat-error>
		
		<mat-form-field class="full-width" >
	    	<input matInput value="newMember.username"  placeholder="Insert username" type="text" name="memberusername" [(ngModel)]="newMember.username" #memberpassword="ngModel" required />
		</mat-form-field>
		<mat-error *ngIf="f.submitted && !memberusername.valid">
			The username is required!
		</mat-error>
		
		<mat-form-field class="full-width" >
	    	<input matInput value="newMember.password"  placeholder="Insert password" type="text" name="memberpassword" [(ngModel)]="newMember.password" #memberlname="ngModel" required />
		</mat-form-field>
		<mat-error *ngIf="f.submitted && !memberpassword.valid">
			The password is required!
		</mat-error>
		
		<mat-form-field class="full-width" >
	    	<input matInput value="newMember.webpage"  placeholder="Insert webpage link" type="text" name="memebrweb" [(ngModel)]="newMember.webpage" #memberweb="ngModel" required />
		</mat-form-field>
		<mat-error *ngIf="f.submitted && !memberweb.valid">
			The webpage is required!
		</mat-error>
		
		<mat-form-field class="full-width" >
	    	<input matInput value="newMember.email"  placeholder="Insert e-mail address" type="email" name="memebrmail" [(ngModel)]="newMember.email" #membermail="ngModel" required />
		</mat-form-field>
		<mat-error *ngIf="f.submitted && !membermail.valid">
			The e-mail is required!
		</mat-error>
		
		<mat-form-field [hidden]="currentUser.role === 'student'" *ngIf="memberClass == 'student'" class="full-width">
			<mat-select name="advisor" placeholder="Select one or more Advisor" [(ngModel)]="newMember.facultyId" #advisor multiple required>
		    	<mat-option *ngFor="let faculty of faculties" [value]="faculty.id">
		      		{{faculty.firstname}} {{faculty.lastname}}
		    	</mat-option>
		  	</mat-select>
	  	</mat-form-field>
	  	<mat-error *ngIf="f.submitted && memberClass == 'student' && newMember.facultyId < 0">
			The advisor is required!
		</mat-error>
		
		<fieldset class="externalAdvisor" [hidden]="currentUser.role === 'student'" *ngIf="newMember.externalAdvisor && memberClass == 'student'">
			<mat-form-field class="full-width">
		    	<input matInput value="newMember.externalAdvisor.firstname"  placeholder="Insert external advisor first name" type="text" name="memberextfname" [(ngModel)]="newMember.externalAdvisor.firstname" #memberextfname="ngModel"/>
			</mat-form-field>
			
			<mat-form-field class="full-width">
		    	<input matInput value="newMember.externalAdvisor.lastname"  placeholder="Insert external advisor last name" type="text" name="memebrextlname" [(ngModel)]="newMember.externalAdvisor.lastname" #memberextlname="ngModel"/>
			</mat-form-field>
			
			<mat-form-field class="full-width">
		    	<input matInput value="newMember.externalAdvisor.webpage"  placeholder="Insert external advisor web page" type="text" name="memebrextweb" [(ngModel)]="newMember.externalAdvisor.webpage" #memberextweb="ngModel"/>
			</mat-form-field>
		</fieldset>
	</div>
	
	<div class="form-group" style="margin-top: 50px;">
		<button mat-raised-button color="primary" [disabled]="loading">Add</button>
		<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
	</div>
</form>