.mat-card {
	width: 100%;
}

.full-width {
	width: 100%;
}

.form-group {
	display: block !important;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.alert {
	width: 80%;
	display: block !important;
	margin-left: auto;
	margin-right: auto;
}

.mat-error {
	font-size: 12px; 
}
