@import '@angular/material/prebuilt-themes/indigo-pink.css';

.container {
	margin-top: 5%;
	margin-bottom: 5%
}

.toolbar-fill-space {
 	flex: 1 1 auto;
}

.items .back {
	color:grey;
}

.app-back {
	cursor:pointer;
}

.my-page {
	color: white; 
	cursor: pointer; 
	margin-right: 10px;
}

a.my-page:hover {
	text-decoration: underline;
}