<mat-list>
	<h6 class="grey">Reports:</h6>
	<mat-list-item *ngFor="let report of reports">
		<mat-icon matListIcon *ngIf="report.approved">check_circle_outline</mat-icon>
		<mat-icon matListIcon *ngIf="!report.approved">remove_circle_outline</mat-icon>
		<h5 matLine class="grey">{{report.student.firstname}} {{report.student.lastname}}, {{report.year}}</h5>
		<a matLine href="javascript:void(0)">{{report.relation}}</a>
		<p matLine>Proposed CFU: {{report.proposedCfu}}</p>
		<button mat-raised-button *ngIf="!report.approved" (click)="approveReport(report)">Approve</button>
	</mat-list-item>
	<h6 class="grey">Events:</h6>
	<mat-list-item *ngFor="let event of events" >
		<mat-icon matListIcon *ngIf="event.approved">check_circle_outline</mat-icon>
		<mat-icon matListIcon *ngIf="!event.approved">remove_circle_outline</mat-icon>
		<h5 matLine class="grey">{{event.student.firstname}} {{event.student.lastname}}, {{event.date | date: 'medium'}}</h5>
		<p matLine>{{event.description}}</p>
		<a matLine href="event.link">{{event.link}}</a>
		<p matLine>Proposed CFU: {{event.proposedCfu}}</p>
		<p matLine>Approved by advisor</p>
		<button mat-raised-button *ngIf="!event.approved" (click)="approveEvent(event)">Approve</button>
	</mat-list-item>
</mat-list>
