<mat-tab-group (selectedTabChange) = "ngOnInit(); tabService.saveIndex(tab.selectedIndex, 'coord')" [selectedIndex]="tabService.getIndex('coord')" #tab mat-stretch-tabs>
  <mat-tab label="All courses"> 
  	<div class="grey" style="text-align: right">
	<a mat-button [routerLink]="['/add-course', phd.id, -1]">
		<mat-icon> add</mat-icon>
		<span>Add Course</span>
	</a>
	</div>
	<app-course-list [phd]="phd" [courses]="allCourses" (removingCourse)="ngOnInit()" (courseClick)="modifyCourse($event)"></app-course-list>
  </mat-tab>
  <mat-tab label="My courses"> <app-course-list [faculty]="coordinator" [courses]="registeredCourses" (courseClick)="openCourse($event)"></app-course-list> </mat-tab>
  <mat-tab label="All student events"> <app-coordinator-event-list [reports]="allReports" [events]="allEvents" (approvingEvent)="approveEvent($event)" (approvingReport)="approveReport($event)"></app-coordinator-event-list></mat-tab>
  <mat-tab label="My student events"> <app-faculty-event-list [students]="students" (approvingEvent)="approveEventAsAdvisor($event)" (approvingReport)="approveReportAsAdvisor($event)"></app-faculty-event-list></mat-tab>
</mat-tab-group>


