<mat-tab-group mat-stretch-tabs>
  <mat-tab label="All courses"> 
  	<div class="grey" style="text-align: right">
	<a mat-button [routerLink]="['/add-course', phd.id, -1]">
		<mat-icon> add</mat-icon>
		<span>Add Course</span>
	</a>
	</div>
	<app-course-list [phd]="phd" [courses]="allCourses" (removingCourse)="ngOnInit()" (courseClick)="modifyCourse($event)"></app-course-list>
  </mat-tab>
  <mat-tab label="Registered courses"> <app-course-list [faculty]="coordinator" [courses]="registeredCourses" (courseClick)="openCourse($event)"></app-course-list> </mat-tab>
</mat-tab-group>


