.grey{
	color: grey;
}

.mat-card {
	width: 100%;
}

.full-width {
	width: 100%;
}

.form-group {
	display: block !important;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.alert {
	width: 80%;
	display: block !important;
	margin-left: auto;
	margin-right: auto;
}

.mat-error {
	font-size: 12px; 
}

.mat-list-item {
	margin-bottom: 20px;
}

.alert {
	margin-top:10px;
}

.back-container {
	display:flex
}

.radio {
	margin-right: 20px;
}