<mat-list>
	<mat-list-item *ngFor="let report of reports">
		<mat-icon matListIcon *ngIf="report.approved">check_circle_outline</mat-icon>
		<mat-icon matListIcon *ngIf="!report.approved">remove_circle_outline</mat-icon>
		<h5 matLine class="grey">{{report.year}}</h5>
		<a matLine href="javascript:void(0)">{{report.relation}}</a>
		<p matLine>Proposed CFU: {{report.proposedCfu}}</p>
		<div *ngIf="!report.approvedByAdvisor" style="margin-top: 10px; padding: 5px" matLine>
			<button mat-raised-button [routerLink]="['/add-report', report.id]">Modify report</button>
		</div>
		<app-edit-remove *ngIf="!report.approvedByAdvisor" [model]="report" (cancelModel)="removeReport($event, report)"></app-edit-remove>
	</mat-list-item>
</mat-list>