<mat-list>
	<mat-list-item *ngFor="let event of events">
		<mat-icon matListIcon *ngIf="event.approved">check_circle_outline</mat-icon>
		<mat-icon matListIcon *ngIf="!event.approved">remove_circle_outline</mat-icon>
		<h5 matLine class="grey">{{event.date | date: 'medium'}}</h5>
		<p matLine>{{event.description}}</p>
		<a matLine href="event.link">{{event.link}}</a>
		<p matLine>Proposed CFU: {{event.proposedCfu}}</p>
		<div *ngIf="!event.approvedByAdvisor" style="margin-top: 10px; padding: 5px" matLine>
			<button mat-raised-button [routerLink]="['/add-event', event.id]">Modify event</button>
		</div>
		<app-edit-remove *ngIf="!event.approvedByAdvisor" [model]="event" (cancelModel)="removeEvent($event, event)"></app-edit-remove>
	</mat-list-item>
</mat-list>
